#wishlist-items{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:30px;

padding-top:40px;

}

.remove-wishlist{

background:red;

padding:12px;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

margin:20px;

}